.button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-color: transparent;
  background-position: center;
  border: none;

  &--close {
    background-image: url(../img/close.png);
  }

  &--back {
    background-image: url(../img/restart.png);
    order: 2;
  }

  &--pause {
    background-image: url(../img/pause.png);
  }

  &--settings {
    background-image: url(../img/settings.png);
  }

  @media (max-width: 560px) {
    width: 35px;
    height: 35px;
    background-size: 30px 30px;
  }
}
