.dialog {
  background-color: rgb(4, 0, 122);
  border: 10px solid white;
  width: 90vw;
  padding: 0;
  color: #fff;

  &::backdrop {
    background-color: black;
  }
}

.dialog__wrapper {
  padding: 5vh 5vw;
}

.dialog__close {
  position: absolute;
  right: 2vw;
  top: 2vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.dialog__img {
  width: 100%;
  height: auto;
}

.dialog__description {
  line-height: 1.5;
  font-size: calc(16px + 1.25vw);
}

.dialog__color-word {
  display: block;
  font-size: 1.5em;
}

.dialog__buttons-wrapper {
  margin-bottom: 30px;
}

.dialog__note {
  display: none;
  position: absolute;
  width: 60px;
  height: 60px;

  &--correct {
    display: block;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-color: transparent;
    background-position: center;
    border: none;
    background-image: url(../img/correct.png);
    animation-name: show-correct;
    animation-duration: 2s;
  }

  &--falsy {
    display: block;
    width: 100px;
    height: fit-content;

    @media (max-width: 510px) {
      position: absolute;
      top: 6px;
      width: 179px;
    }
  }
}

@keyframes show-correct {
  from {
    transform: rotate(-90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  75% {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0);
  }
}
